<!-- /templates/page.contact.liquid -->
<div class="grid--full glass">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title | upcase }}</h1>
    </header>
    <hr class="hr--medium">
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>

        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName">{{ 'contact.form.name' | t }}:</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" >{{ 'contact.form.email' | t }}:</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>

            <label for="ContactFormPhone" >{{ 'contact.form.phone' | t }}:</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" >{{ 'contact.form.message' | t }}:</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
          <br style="clear:both">
          <div>
            <address id="adddressSection" style="text-align:center;font-style:normal">
              <h5>LIDA Medical</h5>
              {% capture phone%}({{ shop.phone | slice: 0,3}}) {{ shop.phone | slice: 3,3}}-{{ shop.phone | slice: 6,4}}{% endcapture %}
              <span><a href="tel:{{ phone }}">{{ phone }}<a></span>
              <br>
              <span>{{shop.address.street}} • {{shop.address.city}}, {{shop.address.province }} • {{shop.address.zip}}, {{shop.address.country}}</span>
            </address>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
